# List 
### List are used to store mutiple items store in a single variable. Lists are used to store multiple items in a single variable. Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

# Difference between list and array?
### List is a hetrogenous means it contains different data type elements. While Array is a homogenous store same data type elements. But arrays are much faster than lists. Arrays require explicit looping but list are not required the explicit looping.

In [1]:
# Create List in python 
a= []
a

[]

In [2]:
a= [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [3]:
# Multiple data type lists
l= ['Hello', 'Ahmad', 1, 4.5, 'Zain']
print(l)

['Hello', 'Ahmad', 1, 4.5, 'Zain']

In [4]:
# Mulidimensional list
b= [1,2,['Ahmad', 'Mirza']]
b

[1, 2, ['Ahmad', 'Mirza']]

In [9]:
# 2d lists
l3 = [[
    [1,2], [3,4]],
    [[6,7],[8,9]]
    ]
print(len(l3[-1]))

2

In [486]:
matrix1= l3[1:]
rows= matrix1[-1]
rows[-1][0::2][-1]

8

In [487]:
l4 = list()

In [488]:
l

['Hello', 'Ahmad', 1, 4.5, 'Zain']

# Access

In [13]:
b= l[0]
b[0:1]

'H'

In [14]:
l

['Hello', 'Ahmad', 1, 4.5, 'Zain']

In [15]:
l[-1][0]

'Z'

In [16]:
l[-1][0]

'Z'

In [18]:
l3

[[[1, 2], [3, 4]], [[6, 7], [8, 9]]]

In [36]:
# Accessing the elements in the 3d list
l3[-1][1][1]

9

In [37]:
l3[1:][-1][-1][1]

9

In [38]:
l3[1:][-1][1][1:][-1]

9

In [39]:
l3[0][-1][1]

4

In [40]:
l3

[[[1, 2], [3, 4]], [[6, 7], [8, 9]]]

In [41]:
l3[-1][-1][-1]

9

In [49]:
d3= [ #1st level 
      [
          #2nd level 
          [1, 2, 3], 
          [4, 5, 6],
          [7, 8, 9]
      ],
      [
          [10, 11, 12],
          [13, 14, 15],
          [16, 17, 18]
      ]
     ]
d3[-1][-1][-1]

18

In [55]:
# 3d arrays
l5= [ #Ist level
     [
     # 2nd level
         [1,2,3],
         [4,5,6],
         [7,8,9]
     ]
     ,
     [
         [10,11,12],
         [12,14,15],
         [16,17,18]
     ]       
]

In [59]:
depth = 3
rows= 4 
columns = 5
three_d_list= [[["*" for _ in  range(columns)] for _ in range(rows)] for _ in range(depth)]
three_d_list

[[['*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*']]]

In [66]:
for i in range(depth): 
 for j in range(rows):
   print(three_d_list[i][j])

['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*']

In [61]:
dimension1 = 2
dimension2 = 3
dimension3 = 4
dimension4 = 5
four_d_list = [[[[0 for _ in range(dimension4)] for _ in range(dimension3)] for _ in range(dimension2)] for _ in range(dimension1)]

In [62]:
four_d_list

[[[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]],
  [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]],
  [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]],
 [[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]],
  [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]],
  [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]]]

In [68]:
l2= [[[[1,2,3,4]], [[True, False, True, False]]], [[[4,5,6]], [[7,8,9]]]]
l2

[[[[1, 2, 3, 4]], [[True, False, True, False]]], [[[4, 5, 6]], [[7, 8, 9]]]]

In [72]:
l2[-1][1][-1][-1]

9

# Editing

In [65]:
b= [[1,2,3,4],
  [5,6,7,8]
]

In [507]:
# list are mutable
l[2]= 2

In [508]:
l

['Hello', 'Ahmad', 2, 4.5, 'Zain']

In [77]:
l[0:2]= [6, 7]

In [509]:
l[0:2]= [6, 7]

In [78]:
l

[6, 7, 1, 4.5, 'Zain']

In [79]:
# Add
# append
# extend 
l.append('hasan')
l

[6, 7, 1, 4.5, 'Zain', 'hasan']

In [82]:
# When we add multiple elements then use the extend function   
l2.extend([1,2,3,4,5,6])

In [84]:
l2

[[[[1, 2, 3, 4]], [[True, False, True, False]]],
 [[[4, 5, 6]], [[7, 8, 9]]],
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6]

In [85]:
l= [1,2,3,4,5]
l.extend([6,7,8,9])
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
l.append(['l', 'o', 'z'])

In [87]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, ['l', 'o', 'z']]

In [88]:
l.extend('goal')

In [89]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, ['l', 'o', 'z'], 'g', 'o', 'a', 'l']

In [90]:
#Add element on the particular index then use the insert
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, ['l', 'o', 'z'], 'g', 'o', 'a', 'l']

In [91]:
l.insert(1, 90)

In [92]:
l

[1, 90, 2, 3, 4, 5, 6, 7, 8, 9, ['l', 'o', 'z'], 'g', 'o', 'a', 'l']

In [93]:
# delete
# remove 
# del
# pop
# clean

In [94]:
l

[1, 90, 2, 3, 4, 5, 6, 7, 8, 9, ['l', 'o', 'z'], 'g', 'o', 'a', 'l']

In [97]:
del l

NameError: name 'l' is not defined

In [98]:
l2

[[[[1, 2, 3, 4]], [[True, False, True, False]]],
 [[[4, 5, 6]], [[7, 8, 9]]],
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6]

In [99]:
del l2

In [100]:
# When we didn't know the index then use the remove
l3= ['Ahmad', 'Ali']
l3.remove('Ali')

In [101]:
l3

['Ahmad']

In [102]:
l3

['Ahmad']

In [103]:
l3.extend(['Hassan', 'Ali'])

In [104]:
l3

['Ahmad', 'Hassan', 'Ali']

In [105]:
l3.pop()

'Ali'

In [106]:
l3

['Ahmad', 'Hassan']

# Operations

In [107]:
l2= [4,5,6,7]

In [108]:
l2 + l3

[4, 5, 6, 7, 'Ahmad', 'Hassan']

In [109]:
l1 = [1,2,3,4]

In [110]:
l1 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [111]:
for i in l1:
 print(i)

1
2
3
4

In [112]:
l1

[1, 2, 3, 4]

In [113]:
4 in l1

True

# Functions

In [114]:
len([1,2,3,4,5])

5

In [115]:
sorted([5,4,3,2,1])

[1, 2, 3, 4, 5]

In [116]:
n= sorted([4,2,5,7,8], reverse=True)

In [117]:
n

[8, 7, 5, 4, 2]

In [118]:
l1.sort(reverse=True)

In [119]:
l1

[4, 3, 2, 1]

# Sort Function change the original list but sorted function doesn't effect on the original list

In [120]:
l1.index(1)

3

In [121]:
'hello how are you'.title()

'Hello How Are You'

In [131]:
Str1= 'How are you?'
l2= Str1.split()

In [132]:
str2=''
for i in l2:
 str2= str2 +' '+i.upper()
str2.strip()

'HOW ARE YOU?'

In [133]:
Str3='Mirza Ahmad@gmail.com'

In [134]:
find_str= Str3.find('@')
Str3[find_str:]

'@gmail.com'

In [135]:
# Write the program which finds the most frequent numbers in the array
b=[1,1,2,2,3,3,4,4,5,6]
Occurances= {}
Count=1
for i in b:
 if i in Occurances:
  Occurances[i]+= Count
 else:
  Occurances[i] = Count

In [136]:
Occurances

{1: 2, 2: 2, 3: 2, 4: 2, 5: 1, 6: 1}

# Count the Ocurrences of every number in a list

In [137]:
l= [10, 20, 70, 70, 50, 70, 10, 10, 50]
l.sort()
l1=[]
l2= []
count= 1
for i in range(len(l)):
 if i != len(l) - 1 and l[i] == l[i + 1]:
  count += 1
 else:
  l1.append(count)
  l2.append(l[i])
  count = 1
for ele, Occur in zip(l2, l1):
 print(f'{ele}: {Occur}')

10: 3
20: 1
50: 2
70: 3

In [138]:
list1 = [1,2,3,4,5,6]
list2 = [7,8,9,10,11,12]
list3 = []
Sum=0
for i, j in zip(list1, list2):
  Sum=i+j
  list3.append(Sum)

In [139]:
list3

[8, 10, 12, 14, 16, 18]

# Change the nested list items

In [140]:
list3

[8, 10, 12, 14, 16, 18]

In [141]:
L = ['a', ['bb', 'cc'], 'd']

In [142]:
L[1][0], L[-2][1]= 'dd', 'bb'

In [143]:
L

['a', ['dd', 'bb'], 'd']

In [144]:
L

['a', ['dd', 'bb'], 'd']

In [145]:
L[1][0]

'dd'

In [146]:
L[1].append('e')

In [147]:
L[-2].insert(-2, 'B')

In [148]:
L

['a', ['dd', 'B', 'bb', 'e'], 'd']

In [149]:
#extend 
L[-2].extend(['g','f','h'])

In [150]:
L

['a', ['dd', 'B', 'bb', 'e', 'g', 'f', 'h'], 'd']

In [151]:
# Remove item from the list
L[-2].remove('h')

In [152]:
L

['a', ['dd', 'B', 'bb', 'e', 'g', 'f'], 'd']

In [153]:
# pop
L[-2].pop()

'f'

In [154]:
L

['a', ['dd', 'B', 'bb', 'e', 'g'], 'd']

In [155]:
L[-2].pop(-4)

'B'

In [156]:
# iterate through the nested list
L = [[1, 2, 3],
     [4, 5, 6]]

In [157]:
print('Loop iterate to the nested List ', end='')
for i in L:
 for j in i:
   print(j, end=' ')

Loop iterate to the nested List 1 2 3 4 5 6

In [159]:
rows = 4 
cols = 4 
two_dlist= [[0 for _ in range(cols)] for _ in range(rows)]
for i in range(rows):
 print(f'Row {i}:')
 for j in range(len(two_dlist[i])):
  ele = int(input(f'Enter the element {j+1}:'))
  two_dlist[i][j]= ele

Row 0:
Row 1:
Row 2:
Row 3:

In [160]:
two_dlist

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [161]:
val=0 
for i in range(rows):
 for j in range(len(two_dlist[i])):
  val+= two_dlist[i][j]
print(f'The sum of 2d array is {val}')

The sum of 2d array is 136

In [162]:
list1= [[5, 6, 8], 
        [7, 4, 3], 
        [8, 10, 12]]
list2= [10, 20, 30]

In [167]:
# Multiplication of two arrays
res=[[] for idx in range(len(list2))]
for i in range(len(list1)):
 for j in range(len(list2)):
  res[i]+= [list2[i] * list1[j][i]]

In [168]:
res

[[50, 70, 80], [120, 80, 200], [240, 90, 360]]

# List comprehension

### List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [169]:
fruits= ['Apple', 'Mango', 'Banana', 'a']
value = [x for x in fruits if x not in 'a']

In [583]:
value

['Apple', 'Mango', 'Banana']

In [173]:
# [expression for item in list]
transpose= []
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]
for i in range(len(matrix[0])):
 transpose_matrix= []
 for j in matrix:
   transpose_matrix.append(j[i])
 transpose.append(transpose_matrix)

In [174]:
transpose

[[1, 4], [2, 5], [3, 6], [4, 8]]

In [181]:
# using list comprehension 
transpose=[[j[i] for j in matrix]for i in range(3)]

In [182]:
transpose

[[1, 4], [2, 5], [3, 6]]

In [183]:
matrix= [1,2,3,4,5,6]
newList= [item**2 for item in matrix]

In [184]:
newList

[1, 4, 9, 16, 25, 36]

In [185]:
even= [i for i in matrix if i%2==0]

In [186]:
even

[2, 4, 6]

In [187]:
# convert the list in lower and upper
list1= [l1.upper() for l1 in ['a','b','c']]
list2= [l2.lower() for l2 in ['A','B','C']]

In [188]:
list2

['a', 'b', 'c']

In [204]:
matrix= [[j for j in range(3)]for i in range(3)]

In [205]:
matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [206]:
l1= []
character='Geeks for geeks'
m=[i for i in character]

In [207]:
m

['G', 'e', 'e', 'k', 's', ' ', 'f', 'o', 'r', ' ', 'g', 'e', 'e', 'k', 's']

In [208]:
# time comparison for loop and list comprehension 
def for_loop(n):
 result=[]
 for i in range(n):
  result.append(i**2)
 return result
def Comprehension(n):
  l=[i**2 for i in range(n)]
  return l

In [209]:
import time
start= time.time()
for_loop(10**6)
end= time.time()
print('Total time to run the for loop', end-start)

Total time to run the for loop 0.19755792617797852

In [210]:
import time
start= time.time()
Comprehension(10**6)
end= time.time()
print('Total time to run the Comprehension', end-start)

Total time to run the Comprehension 0.11570906639099121

In [211]:
list5=[[j for j in range(5)] for i in range(3)]

In [212]:
list5

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [213]:
10**5

100000

In [214]:
twoDMatrix = [[10, 20, 30],
              [50, 60, 70],
              [90, 100, 110]]
trans=[[j[i] for j in twoDMatrix] for i in range(len(twoDMatrix[0]))]

In [215]:
import numpy as np
Start=0
Stop=1
Step=-1
postive_diagonal= []
negative_diagnoal= []
digonals= []
val=0
for i in range(np.minimum(len(twoDMatrix), len(twoDMatrix[0]))):
 pos_val, neg_val= twoDMatrix[i][Start:Stop][0], twoDMatrix[i][Step]
 postive_diagonal.append(pos_val)
 negative_diagnoal.append(neg_val)
 Start+=1
 Stop+=1
 Step-=1
digonals.append(postive_diagonal)
digonals.append(negative_diagnoal)

In [216]:
print(digonals)

[[10, 60, 110], [30, 60, 90]]

In [217]:
digonal= [twoDMatrix[i][i] for i in range(np.minimum(len(twoDMatrix) , len(twoDMatrix[0])))]

In [218]:
digonal

[10, 60, 110]

In [219]:
characters='Python'
vowels= [char for char in characters if char in 'aeiou']
print(vowels)

['o']

In [220]:
twoDMatrix

[[10, 20, 30], [50, 60, 70], [90, 100, 110]]

In [221]:
transpose= [[sublist[traverse] for sublist in twoDMatrix] for traverse in range(len(twoDMatrix))]

In [222]:
transpose

[[10, 50, 90], [20, 60, 100], [30, 70, 110]]

In [223]:
l1= [1,3,4,5]
l2= l1.copy()

In [614]:
l2

[1, 3, 4, 5]

In [224]:
l3= list(l1)

In [225]:
l3

[1, 3, 4, 5]

In [226]:
a= 'aaaba'
print(a.count('aaab'))

1

# Sum of all elements in the list

In [227]:
a= [1,2,3,4,5,6]
sum=0 
for n in a:
 sum+=n 
print(sum)

21

# Find the largest element in the list

In [228]:
size= int(input('Size of the list: '))
i=0
l= []
while i<size: 
 ele= int(input(f'Enter the element {i+1}'))
 l.append(ele) 
 i+=1   
print(f'The elements of the list {l}')

The elements of the list [1, 10, 15, 6]

In [229]:
max = l[0]
i=0 
while i<size: 
 if max<=l[i]:
   max= l[i]
 i+=1 
print(f'The largest element in the list is {max}')

The largest element in the list is 15

# Find the smallest element in the list

In [230]:
min = l[0]
i=0 
while i<size: 
 if min>=l[i]:
   min= l[i]
 i+=1 
print(f'The largest element in the list is {min}')

The largest element in the list is 1

### Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
### Sample List : ['abc', 'xyz', 'aba', '1221']

In [231]:
length= int(input('Size of the list: '))
str_count=0
l= []
for i in range(length):
 ele= input(f'Enter the element {i+1}')
 l.append(ele) 
print(f'The elements of the list {l}')

The elements of the list ['abc', 'xyz', 'aba', '1221']

In [232]:
l

['abc', 'xyz', 'aba', '1221']

In [233]:
for val in l:
 if len(val)>=2:
  if val[0] == val[-1]: 
    str_count+=1
print(str_count)

2

# Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
### Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
### Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [234]:
l3 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for i in range(len(l3)):
 for j in range(i+1, len(l3)):
   if l3[i][-1] > l3[j][-1]:
    temp = l3[i]
    l3[i] = l3[j]
    l3[j] = temp
print("Sorted list:", l3)

Sorted list: [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# Write a python program remove dublicate from the list

In [235]:
l= [1,2,1,4,3,5]
l1= []
for ele in l:
 if ele not in l1:
  l1.append(ele)
print(f'Remove dublicates {l1}')

Remove dublicates [1, 2, 4, 3, 5]

# Write a Python program to clone or copy a list.

In [236]:
l= [1,3,5,7]
l1= list(l)
print(l)
print(l1)

[1, 3, 5, 7]
[1, 3, 5, 7]

# Write a Python program to find the list of words that are longer than n from a given list of words.

In [237]:
l= 'The quick brown fox'
str1= l.split(' ')
n= 3
Word_Count= []
for x in str1: 
 if len(x) > n:
  Word_Count.append(x)

In [238]:
Word_Count

['quick', 'brown']

# Takes two lists and returns True if they have at least one common member

In [239]:
def Boolean(l1 , l2):
 check= False
 for x in l1:
  if x in l2:
   check= True
   break
 return check, x 
n, val= Boolean([1,2,3,4,5], [6,7,8,9,3])
if n: 
 print(True)
else:
 print(None)

True

### Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
### Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
### Expected Output : ['Green', 'White', 'Black']

In [240]:
l= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
l1= []
for i in range(len(l)):
 if i==0 or i==4 or i==5:
  continue
 l1.append(l[i])
print(l1)

['Green', 'White', 'Black']

### Write a Python program to generate a 3*4*6 3D array whose each element is *

In [241]:
dimensions= 3
rows= 4 
columns = 6 
three_dlist= [[['*' for _ in range(columns)] for _ in range(rows)] for _ in range(dimensions)]
print(three_dlist)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

# Write a Python program to shuffle and print a specified list

In [242]:
from random import shuffle
l= [1,2,3,4,5]
shuffle(l)
print(l)

[4, 5, 2, 3, 1]

# Flatten a shallow list

In [243]:
l= [[2, 4, 3], [1, 5, 6], [9], [7, 9, 0]]
flatten= []
for j in l:
 flatten.extend(j)
flatten

[2, 4, 3, 1, 5, 6, 9, 7, 9, 0]

# Write a python program to find the second smallest number

In [244]:
size= int(input('Size of the list: '))
i=0
second_smallest= []
while i<size: 
 ele= int(input(f'Enter the element {i+1}'))
 second_smallest.append(ele) 
 i+=1

In [245]:
print(f'The elements of the list {second_smallest}')

The elements of the list [10, 4, 30]

In [246]:
dup_items = set()
uniq_items = []
for x in second_smallest:
 if x not in dup_items:
  uniq_items.append(x)
  dup_items.add(x)

In [247]:
uniq_items[1]

4

# Find the second largest element in the list

In [248]:
size= int(input('Size of the list: '))
i=0
second_largest= []
while i<size: 
 ele= int(input(f'Enter the element {i+1}'))
 second_largest.append(ele) 
 i+=1

In [249]:
second_largest

[10, 40, 23]

In [250]:
dup_items = set()
uniq_items = []
for x in second_largest:
 if x not in dup_items:
  uniq_items.append(x)
  dup_items.add(x)

In [251]:
uniq_items

[10, 40, 23]

In [252]:
uniq_items.sort(reverse=True)

In [253]:
print(uniq_items[1])

23

# Count the number of element in the list within the specific range

In [255]:
n= [10, 20, 30, 40, 40, 40, 70, 80, 99]
lower= int((input(f'Enter the min: ')))
upper= int((input(f'Enter the max: ')))
i=0
count_ele=0
while i<len(n):
 if n[i]>=lower and n[i]<=upper:
  count_ele+=1
 i+=1
print(count_ele)

6

# Write a Python program to generate the possible combinations of a string.

In [256]:
mylist= input('Enter the string: ')
l= []
for x in mylist:
 l.append(x.upper())
c=[]
str1= str2=''
for i in range(len(l)):
 j= i+1 
 while j<len(l):
   str1= l[i] + l[j]
   c.append(str1)
   j+=1
 str1=''
for x in l:
 str1+=x
l.extend(c)
l.extend([str1])
l.insert(0, str2)
print(f'The possible combinations of {mylist} is {l}')

The possible combinations of xyz is ['', 'X', 'Y', 'Z', 'XY', 'XZ', 'YZ', 'XYZ']

# Check whether a list contains a sublist

In [267]:
list1=[1,2,3,4,5]
sublist= []
sublist_check = False
if sublist == []:
 sublist_check = False
elif sublist == list1:
 sublist_check= False
elif len(sublist) > len(list1):
 sublist_check= False 
else:
 for i in range(len(list1)):
  if list1[i] == sublist[0]:
    j=1 
    while ((j < len(sublist)) and (list1[i+ j] == sublist[j])):
      j+=1
    if j== len(sublist):
      sublist_check= True
if sublist_check==True:
 print(f'Sublist {sublist} is present in list1')
else:
 print(f'sublist {sublist} is not present in the list1 ')

sublist [] is not present in the list1

In [260]:
b= [1, 2, 3, 4, 1, 1, 1, 4, 5]

# Find the substring from the string

In [262]:
import re
string = 'banana'
pattern = 'na'
match=(re.search(pattern, string))
if match is None:
 print(f'The substring {pattern} is not found')
else:
 print(f'The substring {pattern} is found')

The substring na is found

# rindex method

In [263]:
# Always return the highest index 
string.rindex('a')

5

In [264]:
# This will also return the highest index of the found string but if the string is not found then it will return -1
string.rfind('va')

-1

## Write a Python program to convert a list of multiple integers into a single integer.
## Sample list: [11, 33, 50]
## Expected Output: 113350

In [268]:
v = [11, 33, 50]
combInt=''
for integer in v:
 combInt+=str(integer)
print(int(combInt))

113350

## Write a Python program to change the position of every n-th value to the (n+1)th in a list.
## Sample list: [0,1,2,3,4,5]
## Expected Output: [1, 0, 3, 2, 5, 4]

In [269]:
q = [0, 1, 2, 3, 4, 5]
for i in range(0, len(q)-1, 2):
    q[i], q[i+1] = q[i+1], q[i]
print(q)

[1, 0, 3, 2, 5, 4]

## Write a Python program to create a list by concatenating a given list with a range from 1 to n.
## Sample list : ['p', 'q']
## n =5
## Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [270]:
conc= ['p', 'q']
new_conc= []
size= 5
i=1
while i<=size:
 new_conc.extend([conc[0] + str(i), conc[1] + str(i)])
 i+=1
new_conc

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']