# String 
### String is a collection of alphabets, words or other characters. It is one of the primitive data structures and are the building blocks for data manipulation. Python has a built-in string class named str. In python, Strings are sequence of uni code character. 

### Creating Strings 
### Accessing the Strings
### Adding the char to Strings
### Editing Strings
### Deleting Strings
### Operations on Strings
### String Function

# Creating the String

In [1]:
c= 'Hello World'
print(c)

Hello World

In [2]:
# Also creating
v= 'Ahmad Mirza'
print(v)

Ahmad Mirza

In [3]:
v="It's raining outside today"
g= '''
Mirza Ahmad Awais is a passionate learner and problem solver.
'''
print(v)
print(g)

It's raining outside today

Mirza Ahmad Awais is a passionate learner and problem solver.

In [4]:
o = str('Python')
print(o)

Python

# Accessing the substring

In [5]:
#concept of the indexing 
c='hello'
print(c)

hello

In [6]:
print(c[1])

e

In [7]:
print(c[4])

o

In [8]:
print(c[-3])

l

### Slicing and indexing are two fundamental concepts in Python. They help you access specific elements in a sequence, such as a list, tuple or string.

In [9]:
# Type of indexing 
# Positive Indexing 
# Negative Indexing

In [10]:
# indexing using the slicing 
# [start: stop: step]
print(c)
print(c[2:])
print(c[:4])

hello
llo
hell

In [11]:
print(c[0: 5: 2])

hlo

In [12]:
# Negative indexing 
print(c[-1: -6: -2])

olh

In [13]:
print(c[-1::-1])

olleh

In [14]:
c[-1: 1: -1]

'oll'

In [15]:
c[-1:-5:-2]

'ol'

In [16]:
c

'hello'

In [17]:
c[-1::-1]

'olleh'

In [18]:
v= 'Hello World'
print(v[-4:0:-1])

oW olle

In [19]:
# Remember that you can't take negative step with positive string. On the other hand, you can take positive step with the negative string
v[0:6:-1]

''

In [20]:
v[-6:-1: 1]

' Worl'

In [21]:
v[::-1]

'dlroW olleH'

# Editing and deleting the string

In [22]:
v[-1: -5: -1]

'dlro'

In [23]:
c= 'mirza ahmad'
c.capitalize()

'Mirza ahmad'

In [24]:
p=c[3].upper()

In [25]:
c.upper()

'MIRZA AHMAD'

# Mutable datatype  
### Mutable objects are those whose state can be changed after they have been created. Like list, dictionaries, sets. 
# Immutable datatype 
### Immutable objects are those whose state can't be changed after they have been created such as String, tuple, integers.

In [26]:
# Strings are immutable no new character add and delete in the string

In [27]:
s= 'Hello ahmad'

In [28]:
# Error Occur 
# s[0]= 'd'

In [29]:
s= list('Hello Word')
s

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'd']

In [30]:
s[1]= 'E'

In [31]:
s

['H', 'E', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'd']

In [32]:
str1= 'Good'
str1 += ' ' + 'ahmad'

In [33]:
str1

'Good ahmad'

# String Operation
# Arithemtic Operation
# Relational Operation
# Logical Operation
# Loops on Strings
# Membership Operator

In [34]:
# Arithemtic operation
c= 'Hello'+ ' ' + 'World'
print(c)

Hello World

In [35]:
print('*'*50)

**************************************************

In [36]:
print('hello'*4)

hellohellohellohello

In [37]:
print('hello'=='world')

False

In [38]:
print('hello'!='world')

True

In [39]:
# lexographically work
print('Ad' < 'ce')

True

In [40]:
# also remember that small letter greater than capital letter lexographically 
# Logical operator
print('A' and 'a')

a

In [41]:
# "" -> False
# 'hello' -> True

In [42]:
'' and 'world'

''

In [43]:
print('' or 'world')

world

In [44]:
print('world' or '')

world

In [45]:
print('hello' or 'world')

hello

In [46]:
not 'hello'

False

In [47]:
not ''

True

In [48]:
# loops on strings
c='Hello world'
for i in c[1:6:2]:
 print(i, end='')

el

In [49]:
# Membership operator 
'h' in 'hello'

True

In [50]:
'y' in 'hello y'

True

In [51]:
'y' not in 'Heloo y'

False

# String Function

In [52]:
# Common Functions 
# len
# sorted 
# min
# max
c= len('Heloo')

In [53]:
max('hello')

'o'

In [54]:
min('hello')

'e'

In [55]:
# Reverse according to lexographically
c= list('hello')
sorted(c, reverse=True)

['o', 'l', 'l', 'h', 'e']

# Capitalize/Upper/lower/Title/Swapcase

In [56]:
print('my name is mirza ahmad awais'.capitalize())
c='hello world'

My name is mirza ahmad awais

In [57]:
c= 'mirza ahmad awais'
c.title()

'Mirza Ahmad Awais'

In [58]:
c.upper()

'MIRZA AHMAD AWAIS'

In [59]:
c.lower()

'mirza ahmad awais'

In [60]:
# swapcase convert lower string into upper and upper string into lower
'hassAn ahmad'.swapcase()

'HASSaN AHMAD'

In [61]:
# Count
"'It's raning today".count(' ')

2

In [62]:
#find 
#index
"'It's raning today".index('a')

7

In [63]:
"'It's raning today".index('a', 11)

16

In [64]:
"'It's raining today".find('i')
print("'It's raining today".find('x'))
# difference between index and find is that index retun the error when particular index not found. Find returns -1 instead of return any error.

-1

In [65]:
#endswith/startswith
"'It is raining".endswith('ing')

True

In [66]:
"'It is raining".startswith("'It")

True

In [67]:
# format
c='Mirza Ahmad {}'.format(str('Awais'))
print(c)

Mirza Ahmad Awais

In [68]:
d="Mirza Ahmad {1} and I am a passionate machine {0}".format('learning engineer','Awais')

In [69]:
d

'Mirza Ahmad Awais and I am a passionate machine learning engineer'

In [70]:
# isalpha/ isalnum/ isdecimal/ isdigit/ isidentifier

In [71]:
'SP'.isalpha()

True

In [72]:
#isalpha check the alphabets is alphabatic or numeric 
'SP20'.isalnum()

True

In [73]:
'SP20*'.isalnum()

False

In [74]:
# also space character not acceptable
'Ahmad'.isalpha()

True

In [75]:
print('20'.isdigit())
print('20'.isdecimal())

True
True

In [76]:
#space is also a special character
'Helloworld'.isidentifier()

True

In [77]:
'FA20-SP20'.isidentifier()

False

In [78]:
'10'.isdecimal()

True

In [79]:
# split 
m= 'Ahmad Awais'
m.split(' ')

['Ahmad', 'Awais']

In [80]:
# join 
' '.join(['Ahmad', 'Awais'])

'Ahmad Awais'

In [81]:
' Ahmad Awais '.strip()

'Ahmad Awais'

In [82]:
# replace 
c= 'hello world'
c.replace('w', 'W')

'hello World'

In [83]:
# Strip  
name = '     Ahmad  '
name.strip()

'Ahmad'

# Write the program and take input from the user as name. Print the initials of the name ?

# Example 
### Input Mirza ahmad awais
### Output M.A.Awais 
### Input
### Husnain javed
### Output H.Javed

In [84]:
name = input(prompt=('Enter your name ?'))
l= name.split()
Length= len(l)-1
last=''
str1=''
str2=''
if Length >=1:
  str1= l[0][0] + '.'
  last= l[Length]
  if len(l)<=2: 
   str1+=last
   print('The initials of your name is', str1.title())
  else:
   str2= l[1: Length]
   for i in range(len(str2)):
    str1+= str2[i][0] + '.'
   str1+=last
   print('The initials of your name is', str1.title())
else:
  print(l[0].title())

The initials of your name is M.A.Awais

In [ ]:
while(True):
 a= input("Enter your registration number: ")
 v= a.split("-")
 check_first= True
 if len(a)==12:
  if len(v[0])==4 and v[0].isalnum():
   check_first= False
  if check_first== False:
   for x in v[1:]:
     if x.isalnum() and len(x)==3:
       check_first=False
  if check_first == False:
     print('Valid Registration Number')
  else:
     print("Invalid Registration Number")
 else:
   print("Your registration number length is exceed \n Do you want to close this program: (Y/N)")
   char= input()
   if char=='Y' or char=='y':
     break

BCS
016