# Implicit Type conversion 
### When the type conversion take place during the run time, it's called an implicit type conversion. 

# Explicit type conversion 
### In explcit type conversion users convert the data type of an object to required data type.

In [1]:
print(4 + 5.5)

9.5

In [2]:
print(4 + 5.4 + 5.9j)

(9.4+5.9j)

In [3]:
print(9 + 4j)

(9+4j)

In [4]:
#int function 
int(4.545)

4

In [5]:
str(334)

'334'

In [5]:
float(23)

23.0

In [6]:
print(bool(0))
print(bool(1))

False
True

In [7]:
print(complex(2323))

(2323+0j)

In [8]:
list((1,2,3))

[1, 2, 3]

In [9]:
tuple({2232,434})

(2232, 434)

In [10]:
list({'Name': 'Ahmad'})

['Name']

In [11]:
list({2232,434})

[2232, 434]

In [12]:
set({'Name': 'Ahmad'})

{'Name'}

In [13]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [14]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [15]:
set('Hello')

{'H', 'e', 'l', 'o'}

# Python Numbers 
### There are three numeric types in python:
- **int** 
- **float** 
- **complex**

In [16]:
x= 1
y= 2.3 
z= 1j

## Type Function
To verify the type of an object, use the type function

In [17]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [19]:
x = 1
y = 3565622
z = -3255
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [20]:
x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [23]:
x = 3+5j
y = 5j
z = -5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>